#red-circle {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}

#yellow-circle {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
}

#green-circle {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
  border-radius: 50%;
}

#lg-rec {
}

#sm-rec {
  width: 125px;
  height: 325px;
  color: darkgrey;
}

#pic-box {
}

#column1 {
  align: left;
  height: 100%;
  width: 33%;
}

#column2 {
  align: center;
  height: 100%;
  width: 33%;
}

#column3 {
  align: right;
  height: 100%;
  width: 33%;
}
